
<div ng-app="nbaApp">
    <h1>NBA Information:</h1>
    <a href="#/partial1">Awesome Players</a> | <a href="#/partial2">Teams</a>
    <div ng-view=""></div>
</div>
<div ng-app="" ng-init="players = [{name: 'Kobe Bryant', team: 'Lakers'}, 
                                   {name: 'Derrick Rose', team: 'Bulls'},
                                   {name: 'Kevin Durant', team: 'Thunder'},
                                   {name: 'Tim Duncan', team: 'Spurs'}]">
 
</div>

